
<a href="https://en.wikipedia.org/wiki/Django" class="external_link" id="link_to_wiki_page">

body {
    padding-left: 15px;
}

/* Style the header */
.header {
  padding: 10px 16px;
  background: #312F2F;
  color: #A74F4F;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

.h1, h2, h3, h4 {
    font-family: 'Arial', cursive;
}

.date {
    color: #300A11;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #0E475B;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h2 a:visited {
   opacity:0.4; color:#4FA7A7;
}
