<!DOCTYPE html>
{% load staticfiles %}
<html>
    
        <meta charset="UTF-8">
        <title>VIBRANT KINGDOMS</title><link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet" type='text/css'> 
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <!-- Added 13.03.18 <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type='text/scss'/> -->
        <!-- hidden link -->
        
        
   
    <head>
    <title><link rel="stylesheet" href="{% static 'blog/css/blog.css' %}"></title>
    {% block styles %} 
    <style>



        body{ margin:0px; background:#000; max-width:100%;}
        #bg_container-VIDEO{ height:800px; overflow:auto; }
        #bg{ width: 100%; }
        #content-LUULE{ position:absolute; top:10px; padding:10px; color:#191C19; text-shadow:#D0DDDE 1px 1px; opacity:0.2; font-family:'Bungee', cursive; font-size: 100px;}
        #header {background: black;color:white;}
        .copyright{
            width:40px;
            height:40px;
            margin: 40px;
            float: right;
            top:50px;
        }
        
        a.Poiss:link{color: #191C19;text-decoration: none;}
        a.Poiss:visited{color: #191C19;text-decoration: none;}
        a.Poiss:hover{color: #191C19;text-decoration: none;}
        a.Poiss:active{color: #191C19;text-decoration: none;}

        a.Hence:link{color: #191C19;text-decoration: none;}
        a.Hence:visited{color: #191C19;text-decoration: none;}
        a.Hence:hover{color: #191C19;text-decoration: none;}
        a.Hence:active{color: #191C19;text-decoration: none;}

        a.Otsis:link{color: #191C19;text-decoration: none;}
        a.Otsis:visited{color: #191C19;text-decoration: none;}
        a.Otsis:hover{color: #191C19;text-decoration: none;}
        a.Otsis:active{color: #191C19;text-decoration: none;}

        a.Pyssi:link{color: #191C19;text-decoration: none;}
        a.Pyssi:visited{color: #191C19;text-decoration: none;}
        a.Pyssi:hover{color: #191C19;text-decoration: none;}
        a.Pyssi:active{color: #191C19;text-decoration: none;}

        a.P66sast:link{color: #191C19;text-decoration: none;}
        a.P66sast:visited{color: #191C19;text-decoration: none;}
        a.P66sast:hover{color: #191C19;text-decoration: none;}
        a.P66sast:active{color: #191C19;text-decoration: none;}

        a.Tihedast:link{color: #191C19;text-decoration: none;}
        a.Tihedast:visited{color: #191C19;text-decoration: none;}
        a.Tihedast:hover{color: #191C19;text-decoration: none;}
        a.Tihedast:active{color: #191C19;text-decoration: none;}

        a.Tihnikust:link{color: #191C19;text-decoration: none;}
        a.Tihnikust:visited{color: #191C19;text-decoration: none;}
        a.Tihnikust:hover{color: #191C19;text-decoration: none;}
        a.Tihnikust:active{color: #191C19;text-decoration: none;}

        </style>
        {% endblock styles %}
        </head>
    

    
       <!-- BACKGROUND VIDEO <div class="page-header">
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">-->
                    

        <body>
        <div class="header" id="myHeader">
         <h1>Paula Salurand</h1>
        </div>

       <!-- BACKGROUND VIDEO
            <div id="bg_container-VIDEO">
            
                <video id="bg" controls preload played loop autoplay="autoplay" width='100%' height='100%' autobuffer="autobuffer">

                <source src="https://github.com/paulake/video_file2/blob/master/300.WebM?raw=true" type="video/webm">

                </video>-->
             </div>

                <!-- LUULE--> 
            <div id="content-LUULE">
                <a href="/post/6/" class="Hence"><p>&#8756;</p></a>
                <a href="/About/" class="Poiss"><h1>About</h1></a>
                <a href="/Articles/" class="Otsis"><h2>Articles</h2>
                <a href="/Cinema4D/" class="Pyssi"><h3>Cinema4D</h3>
                <a href="/Multidisciplinary/" class="P66sast"><h4>Multidisciplinary</h4>
                <a href="/Research/" class="Tihedast"><h5>Research</h5>
                <a href="post/category/general/" class="Tihnikust"><h6><p>categories(articles)</p></h6>

                </div>


            <!-- BACKGROUND MUSIC
            <embed height="0" width="0" 
            src= "https://www.youtube.com/embed/rPy5GXul1AI/v/VIDEO_ID&autoplay=1&loop=1">-->

            <!-- Start of copyright 
                <div class="copyright">
                &copy; 2016 Paula Salurand. All rights reserved.
            
                        
                </div>-->
                {% block content %}
                
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio nisl, aliquet ut lacus id, suscipit pharetra quam. Nam fermentum finibus ipsum et venenatis. Nam eget nisi at turpis interdum tempus. Nunc lacinia gravida turpis, id efficitur arcu dignissim vel. Phasellus interdum dapibus porta. Nunc dignissim porttitor dolor ac lacinia. Nullam sed orci vitae odio congue ultrices. Duis vitae pulvinar elit. Nulla suscipit auctor eros, at sagittis ligula elementum sit amet. Pellentesque eget bibendum mi. Etiam in cursus mi. Proin luctus ante scelerisque eleifend molestie. Maecenas vel lobortis ante, suscipit tincidunt lorem. Vestibulum sodales pulvinar odio, a rutrum nibh volutpat eu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

Duis sit amet massa id mauris cursus aliquam. Vivamus finibus quis leo vitae faucibus. Praesent ut nulla ut augue consequat luctus nec quis justo. Nulla congue scelerisque imperdiet. Morbi mi est, lobortis vitae diam a, vehicula vulputate quam. Sed eget porta leo. Vivamus vel faucibus tortor. Pellentesque accumsan lacinia ante, sit amet imperdiet quam mattis ut. Praesent convallis non velit vel laoreet. Mauris est nulla, laoreet quis hendrerit ac, lobortis dictum ligula. Vivamus gravida risus nec vehicula eleifend. Curabitur vitae pulvinar nisl, tincidunt egestas nunc. Nunc hendrerit odio dui, at mollis arcu vestibulum sit amet.

In porta tincidunt ipsum ut aliquam. Suspendisse aliquam, libero sit amet viverra fermentum, tortor nibh lobortis urna, quis pharetra odio nibh eu mi. In hac habitasse platea dictumst. In vehicula arcu est, quis mattis tellus consequat eu. Quisque tortor nunc, ullamcorper eu felis in, vestibulum eleifend ex. Mauris fermentum metus velit, non lacinia mauris feugiat aliquam. Integer ultricies nec lorem ut cursus. Sed porta justo id mi volutpat, in dignissim risus tempor. Sed non sem quis odio bibendum tincidunt id et nulla. Aenean finibus accumsan leo vel ultricies. Cras non convallis nibh, in vulputate metus. Integer condimentum tempus erat, ac sollicitudin sapien tincidunt non. Morbi ut est dignissim tellus euismod lacinia et ac augue. Nunc pulvinar posuere turpis ut consequat.

Vivamus porta velit vel elementum blandit. Suspendisse ultrices convallis lorem id cursus. In hac habitasse platea dictumst. Vestibulum gravida sit amet ipsum nec pulvinar. Donec accumsan, dui in porta faucibus, elit purus posuere tellus, nec pellentesque nibh nulla vitae elit. Fusce risus ligula, cursus sed tortor a, fringilla placerat felis. Nulla blandit nulla eget tellus volutpat ornare. Vestibulum nunc neque, sollicitudin egestas turpis at, rutrum semper ligula. Aliquam in tincidunt velit. Duis porta libero et arcu mattis, sit amet tristique augue fermentum. Pellentesque rhoncus purus purus, in euismod velit aliquet id. Fusce porta massa eget diam fringilla porta. Nunc scelerisque gravida metus, eu tincidunt lorem mattis quis. Vivamus pretium ornare massa, eu vulputate metus rutrum id. Sed cursus leo at arcu tempus, eget rutrum quam congue.

Vivamus feugiat enim purus, sit amet viverra orci mollis ut. Donec blandit blandit mauris, in fringilla felis eleifend eu. Etiam nec viverra dolor, sed placerat orci. In blandit tellus vel metus ornare, eu rhoncus ante luctus. Integer bibendum, neque laoreet convallis imperdiet, lacus ex dignissim mi, sed egestas metus nulla nec turpis. Etiam tempor, leo ut fringilla pharetra, arcu justo auctor massa, quis tempor lacus elit vitae purus. Pellentesque ut finibus purus. Donec bibendum odio quis nibh suscipit, et elementum nulla congue. Donec convallis augue ultrices diam ultricies, vel convallis dui condimentum. Curabitur porta sit amet nisl ac ultricies. Pellentesque vel pellentesque tortor. Ut ut nisi sed ligula porta auctor.

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio nisl, aliquet ut lacus id, suscipit pharetra quam. Nam fermentum finibus ipsum et venenatis. Nam eget nisi at turpis interdum tempus. Nunc lacinia gravida turpis, id efficitur arcu dignissim vel. Phasellus interdum dapibus porta. Nunc dignissim porttitor dolor ac lacinia. Nullam sed orci vitae odio congue ultrices. Duis vitae pulvinar elit. Nulla suscipit auctor eros, at sagittis ligula elementum sit amet. Pellentesque eget bibendum mi. Etiam in cursus mi. Proin luctus ante scelerisque eleifend molestie. Maecenas vel lobortis ante, suscipit tincidunt lorem. Vestibulum sodales pulvinar odio, a rutrum nibh volutpat eu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

Duis sit amet massa id mauris cursus aliquam. Vivamus finibus quis leo vitae faucibus. Praesent ut nulla ut augue consequat luctus nec quis justo. Nulla congue scelerisque imperdiet. Morbi mi est, lobortis vitae diam a, vehicula vulputate quam. Sed eget porta leo. Vivamus vel faucibus tortor. Pellentesque accumsan lacinia ante, sit amet imperdiet quam mattis ut. Praesent convallis non velit vel laoreet. Mauris est nulla, laoreet quis hendrerit ac, lobortis dictum ligula. Vivamus gravida risus nec vehicula eleifend. Curabitur vitae pulvinar nisl, tincidunt egestas nunc. Nunc hendrerit odio dui, at mollis arcu vestibulum sit amet.

In porta tincidunt ipsum ut aliquam. Suspendisse aliquam, libero sit amet viverra fermentum, tortor nibh lobortis urna, quis pharetra odio nibh eu mi. In hac habitasse platea dictumst. In vehicula arcu est, quis mattis tellus consequat eu. Quisque tortor nunc, ullamcorper eu felis in, vestibulum eleifend ex. Mauris fermentum metus velit, non lacinia mauris feugiat aliquam. Integer ultricies nec lorem ut cursus. Sed porta justo id mi volutpat, in dignissim risus tempor. Sed non sem quis odio bibendum tincidunt id et nulla. Aenean finibus accumsan leo vel ultricies. Cras non convallis nibh, in vulputate metus. Integer condimentum tempus erat, ac sollicitudin sapien tincidunt non. Morbi ut est dignissim tellus euismod lacinia et ac augue. Nunc pulvinar posuere turpis ut consequat.

Vivamus porta velit vel elementum blandit. Suspendisse ultrices convallis lorem id cursus. In hac habitasse platea dictumst. Vestibulum gravida sit amet ipsum nec pulvinar. Donec accumsan, dui in porta faucibus, elit purus posuere tellus, nec pellentesque nibh nulla vitae elit. Fusce risus ligula, cursus sed tortor a, fringilla placerat felis. Nulla blandit nulla eget tellus volutpat ornare. Vestibulum nunc neque, sollicitudin egestas turpis at, rutrum semper ligula. Aliquam in tincidunt velit. Duis porta libero et arcu mattis, sit amet tristique augue fermentum. Pellentesque rhoncus purus purus, in euismod velit aliquet id. Fusce porta massa eget diam fringilla porta. Nunc scelerisque gravida metus, eu tincidunt lorem mattis quis. Vivamus pretium ornare massa, eu vulputate metus rutrum id. Sed cursus leo at arcu tempus, eget rutrum quam congue.

Vivamus feugiat enim purus, sit amet viverra orci mollis ut. Donec blandit blandit mauris, in fringilla felis eleifend eu. Etiam nec viverra dolor, sed placerat orci. In blandit tellus vel metus ornare, eu rhoncus ante luctus. Integer bibendum, neque laoreet convallis imperdiet, lacus ex dignissim mi, sed egestas metus nulla nec turpis. Etiam tempor, leo ut fringilla pharetra, arcu justo auctor massa, quis tempor lacus elit vitae purus. Pellentesque ut finibus purus. Donec bibendum odio quis nibh suscipit, et elementum nulla congue. Donec convallis augue ultrices diam ultricies, vel convallis dui condimentum. Curabitur porta sit amet nisl ac ultricies. Pellentesque vel pellentesque tortor. Ut ut nisi sed ligula porta auctor.

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio nisl, aliquet ut lacus id, suscipit pharetra quam. Nam fermentum finibus ipsum et venenatis. Nam eget nisi at turpis interdum tempus. Nunc lacinia gravida turpis, id efficitur arcu dignissim vel. Phasellus interdum dapibus porta. Nunc dignissim porttitor dolor ac lacinia. Nullam sed orci vitae odio congue ultrices. Duis vitae pulvinar elit. Nulla suscipit auctor eros, at sagittis ligula elementum sit amet. Pellentesque eget bibendum mi. Etiam in cursus mi. Proin luctus ante scelerisque eleifend molestie. Maecenas vel lobortis ante, suscipit tincidunt lorem. Vestibulum sodales pulvinar odio, a rutrum nibh volutpat eu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

Duis sit amet massa id mauris cursus aliquam. Vivamus finibus quis leo vitae faucibus. Praesent ut nulla ut augue consequat luctus nec quis justo. Nulla congue scelerisque imperdiet. Morbi mi est, lobortis vitae diam a, vehicula vulputate quam. Sed eget porta leo. Vivamus vel faucibus tortor. Pellentesque accumsan lacinia ante, sit amet imperdiet quam mattis ut. Praesent convallis non velit vel laoreet. Mauris est nulla, laoreet quis hendrerit ac, lobortis dictum ligula. Vivamus gravida risus nec vehicula eleifend. Curabitur vitae pulvinar nisl, tincidunt egestas nunc. Nunc hendrerit odio dui, at mollis arcu vestibulum sit amet.

In porta tincidunt ipsum ut aliquam. Suspendisse aliquam, libero sit amet viverra fermentum, tortor nibh lobortis urna, quis pharetra odio nibh eu mi. In hac habitasse platea dictumst. In vehicula arcu est, quis mattis tellus consequat eu. Quisque tortor nunc, ullamcorper eu felis in, vestibulum eleifend ex. Mauris fermentum metus velit, non lacinia mauris feugiat aliquam. Integer ultricies nec lorem ut cursus. Sed porta justo id mi volutpat, in dignissim risus tempor. Sed non sem quis odio bibendum tincidunt id et nulla. Aenean finibus accumsan leo vel ultricies. Cras non convallis nibh, in vulputate metus. Integer condimentum tempus erat, ac sollicitudin sapien tincidunt non. Morbi ut est dignissim tellus euismod lacinia et ac augue. Nunc pulvinar posuere turpis ut consequat.

Vivamus porta velit vel elementum blandit. Suspendisse ultrices convallis lorem id cursus. In hac habitasse platea dictumst. Vestibulum gravida sit amet ipsum nec pulvinar. Donec accumsan, dui in porta faucibus, elit purus posuere tellus, nec pellentesque nibh nulla vitae elit. Fusce risus ligula, cursus sed tortor a, fringilla placerat felis. Nulla blandit nulla eget tellus volutpat ornare. Vestibulum nunc neque, sollicitudin egestas turpis at, rutrum semper ligula. Aliquam in tincidunt velit. Duis porta libero et arcu mattis, sit amet tristique augue fermentum. Pellentesque rhoncus purus purus, in euismod velit aliquet id. Fusce porta massa eget diam fringilla porta. Nunc scelerisque gravida metus, eu tincidunt lorem mattis quis. Vivamus pretium ornare massa, eu vulputate metus rutrum id. Sed cursus leo at arcu tempus, eget rutrum quam congue.

Vivamus feugiat enim purus, sit amet viverra orci mollis ut. Donec blandit blandit mauris, in fringilla felis eleifend eu. Etiam nec viverra dolor, sed placerat orci. In blandit tellus vel metus ornare, eu rhoncus ante luctus. Integer bibendum, neque laoreet convallis imperdiet, lacus ex dignissim mi, sed egestas metus nulla nec turpis. Etiam tempor, leo ut fringilla pharetra, arcu justo auctor massa, quis tempor lacus elit vitae purus. Pellentesque ut finibus purus. Donec bibendum odio quis nibh suscipit, et elementum nulla congue. Donec convallis augue ultrices diam ultricies, vel convallis dui condimentum. Curabitur porta sit amet nisl ac ultricies. Pellentesque vel pellentesque tortor. Ut ut nisi sed ligula porta auctor.

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio nisl, aliquet ut lacus id, suscipit pharetra quam. Nam fermentum finibus ipsum et venenatis. Nam eget nisi at turpis interdum tempus. Nunc lacinia gravida turpis, id efficitur arcu dignissim vel. Phasellus interdum dapibus porta. Nunc dignissim porttitor dolor ac lacinia. Nullam sed orci vitae odio congue ultrices. Duis vitae pulvinar elit. Nulla suscipit auctor eros, at sagittis ligula elementum sit amet. Pellentesque eget bibendum mi. Etiam in cursus mi. Proin luctus ante scelerisque eleifend molestie. Maecenas vel lobortis ante, suscipit tincidunt lorem. Vestibulum sodales pulvinar odio, a rutrum nibh volutpat eu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

Duis sit amet massa id mauris cursus aliquam. Vivamus finibus quis leo vitae faucibus. Praesent ut nulla ut augue consequat luctus nec quis justo. Nulla congue scelerisque imperdiet. Morbi mi est, lobortis vitae diam a, vehicula vulputate quam. Sed eget porta leo. Vivamus vel faucibus tortor. Pellentesque accumsan lacinia ante, sit amet imperdiet quam mattis ut. Praesent convallis non velit vel laoreet. Mauris est nulla, laoreet quis hendrerit ac, lobortis dictum ligula. Vivamus gravida risus nec vehicula eleifend. Curabitur vitae pulvinar nisl, tincidunt egestas nunc. Nunc hendrerit odio dui, at mollis arcu vestibulum sit amet.

In porta tincidunt ipsum ut aliquam. Suspendisse aliquam, libero sit amet viverra fermentum, tortor nibh lobortis urna, quis pharetra odio nibh eu mi. In hac habitasse platea dictumst. In vehicula arcu est, quis mattis tellus consequat eu. Quisque tortor nunc, ullamcorper eu felis in, vestibulum eleifend ex. Mauris fermentum metus velit, non lacinia mauris feugiat aliquam. Integer ultricies nec lorem ut cursus. Sed porta justo id mi volutpat, in dignissim risus tempor. Sed non sem quis odio bibendum tincidunt id et nulla. Aenean finibus accumsan leo vel ultricies. Cras non convallis nibh, in vulputate metus. Integer condimentum tempus erat, ac sollicitudin sapien tincidunt non. Morbi ut est dignissim tellus euismod lacinia et ac augue. Nunc pulvinar posuere turpis ut consequat.

Vivamus porta velit vel elementum blandit. Suspendisse ultrices convallis lorem id cursus. In hac habitasse platea dictumst. Vestibulum gravida sit amet ipsum nec pulvinar. Donec accumsan, dui in porta faucibus, elit purus posuere tellus, nec pellentesque nibh nulla vitae elit. Fusce risus ligula, cursus sed tortor a, fringilla placerat felis. Nulla blandit nulla eget tellus volutpat ornare. Vestibulum nunc neque, sollicitudin egestas turpis at, rutrum semper ligula. Aliquam in tincidunt velit. Duis porta libero et arcu mattis, sit amet tristique augue fermentum. Pellentesque rhoncus purus purus, in euismod velit aliquet id. Fusce porta massa eget diam fringilla porta. Nunc scelerisque gravida metus, eu tincidunt lorem mattis quis. Vivamus pretium ornare massa, eu vulputate metus rutrum id. Sed cursus leo at arcu tempus, eget rutrum quam congue.

Vivamus feugiat enim purus, sit amet viverra orci mollis ut. Donec blandit blandit mauris, in fringilla felis eleifend eu. Etiam nec viverra dolor, sed placerat orci. In blandit tellus vel metus ornare, eu rhoncus ante luctus. Integer bibendum, neque laoreet convallis imperdiet, lacus ex dignissim mi, sed egestas metus nulla nec turpis. Etiam tempor, leo ut fringilla pharetra, arcu justo auctor massa, quis tempor lacus elit vitae purus. Pellentesque ut finibus purus. Donec bibendum odio quis nibh suscipit, et elementum nulla congue. Donec convallis augue ultrices diam ultricies, vel convallis dui condimentum. Curabitur porta sit amet nisl ac ultricies. Pellentesque vel pellentesque tortor. Ut ut nisi sed ligula porta auctor.

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio nisl, aliquet ut lacus id, suscipit pharetra quam. Nam fermentum finibus ipsum et venenatis. Nam eget nisi at turpis interdum tempus. Nunc lacinia gravida turpis, id efficitur arcu dignissim vel. Phasellus interdum dapibus porta. Nunc dignissim porttitor dolor ac lacinia. Nullam sed orci vitae odio congue ultrices. Duis vitae pulvinar elit. Nulla suscipit auctor eros, at sagittis ligula elementum sit amet. Pellentesque eget bibendum mi. Etiam in cursus mi. Proin luctus ante scelerisque eleifend molestie. Maecenas vel lobortis ante, suscipit tincidunt lorem. Vestibulum sodales pulvinar odio, a rutrum nibh volutpat eu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

Duis sit amet massa id mauris cursus aliquam. Vivamus finibus quis leo vitae faucibus. Praesent ut nulla ut augue consequat luctus nec quis justo. Nulla congue scelerisque imperdiet. Morbi mi est, lobortis vitae diam a, vehicula vulputate quam. Sed eget porta leo. Vivamus vel faucibus tortor. Pellentesque accumsan lacinia ante, sit amet imperdiet quam mattis ut. Praesent convallis non velit vel laoreet. Mauris est nulla, laoreet quis hendrerit ac, lobortis dictum ligula. Vivamus gravida risus nec vehicula eleifend. Curabitur vitae pulvinar nisl, tincidunt egestas nunc. Nunc hendrerit odio dui, at mollis arcu vestibulum sit amet.

In porta tincidunt ipsum ut aliquam. Suspendisse aliquam, libero sit amet viverra fermentum, tortor nibh lobortis urna, quis pharetra odio nibh eu mi. In hac habitasse platea dictumst. In vehicula arcu est, quis mattis tellus consequat eu. Quisque tortor nunc, ullamcorper eu felis in, vestibulum eleifend ex. Mauris fermentum metus velit, non lacinia mauris feugiat aliquam. Integer ultricies nec lorem ut cursus. Sed porta justo id mi volutpat, in dignissim risus tempor. Sed non sem quis odio bibendum tincidunt id et nulla. Aenean finibus accumsan leo vel ultricies. Cras non convallis nibh, in vulputate metus. Integer condimentum tempus erat, ac sollicitudin sapien tincidunt non. Morbi ut est dignissim tellus euismod lacinia et ac augue. Nunc pulvinar posuere turpis ut consequat.

Vivamus porta velit vel elementum blandit. Suspendisse ultrices convallis lorem id cursus. In hac habitasse platea dictumst. Vestibulum gravida sit amet ipsum nec pulvinar. Donec accumsan, dui in porta faucibus, elit purus posuere tellus, nec pellentesque nibh nulla vitae elit. Fusce risus ligula, cursus sed tortor a, fringilla placerat felis. Nulla blandit nulla eget tellus volutpat ornare. Vestibulum nunc neque, sollicitudin egestas turpis at, rutrum semper ligula. Aliquam in tincidunt velit. Duis porta libero et arcu mattis, sit amet tristique augue fermentum. Pellentesque rhoncus purus purus, in euismod velit aliquet id. Fusce porta massa eget diam fringilla porta. Nunc scelerisque gravida metus, eu tincidunt lorem mattis quis. Vivamus pretium ornare massa, eu vulputate metus rutrum id. Sed cursus leo at arcu tempus, eget rutrum quam congue.

Vivamus feugiat enim purus, sit amet viverra orci mollis ut. Donec blandit blandit mauris, in fringilla felis eleifend eu. Etiam nec viverra dolor, sed placerat orci. In blandit tellus vel metus ornare, eu rhoncus ante luctus. Integer bibendum, neque laoreet convallis imperdiet, lacus ex dignissim mi, sed egestas metus nulla nec turpis. Etiam tempor, leo ut fringilla pharetra, arcu justo auctor massa, quis tempor lacus elit vitae purus. Pellentesque ut finibus purus. Donec bibendum odio quis nibh suscipit, et elementum nulla congue. Donec convallis augue ultrices diam ultricies, vel convallis dui condimentum. Curabitur porta sit amet nisl ac ultricies. Pellentesque vel pellentesque tortor. Ut ut nisi sed ligula porta auctor.

</p>

                {% endblock %}
                
            <!-- BACKGROUND VIDEO</div>
             </div>-->

             
            <div class="content">
            content
            <footer class="footer"></footer>
            </div>
<script type="text/javascript" src="{% static 'blog/js/blog.js' %}"></script>

</body>
        
</html>
       

    