{% extends 'blog/base.html' %}

<!-- LUULE--> 


{% block content %}
<div id="content-LUULE">
                <a href="/post/8/" class="Hence"><p>&#8756;</p></a>
                <a href="/post/7/" class="Poiss"><h1>Poiss</h1></a>
                <a href="Otsis" class="Otsis"><h2>otsis</h2>
                <a href="Pyssi" class="Pyssi"><h3>p&uuml;ssi</h3>
                <a href="P66sast" class="P66sast"><h4>p&otilde;&otilde;sast</h4>
                <a href="Tihedast" class="Tihedast"><h5>tihedast</h5>
                <a href="Tihnikust" class="Tihnikust"><h6>tihnikust<p>p&otilde;randat mustaval lagendikul</p></h6>

                </div>
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
           
        </div>
    {% endfor %}
{% endblock %}